.wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;

    >* {
        display: table-cell;
        height: 100%;
    }
}

.aside {
    width: 0px;
    opacity: 0;
    text-align: center;
    @include transition();
    height: 100vh;
    margin: -10px;
    color: #fff;
    box-shadow: 0px 0px 20px 0px rgba($color: $color-accent, $alpha: .2);

    &.show {
        width: 260px;
        opacity: 1;
    }

    &__holder {
        min-width: 260px;
        padding: 10px;
        position: fixed;
    }

    &__button {
        position: fixed;
        height: $height-form;
        width: $height-form;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        z-index: 99999;
        box-shadow: 0px 0px 20px 0px rgba($color: $color-accent, $alpha: .2);
        border: 0;
        @include gradient();
        cursor: pointer;
        @include transition();
        opacity: .7;

        &:hover,
        &:focus {
            outline: none;
            opacity: 1;

        }
    }

    .h1 {
        font-size: 20px;
        color: $color-accent2;
    }

    &__logo {
        font-size: 45px;
        color: $color-dark;
        display: block;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba($color: $color-accent, $alpha: .1);
        position: relative;
        @include transition();
        &:hover {
            text-decoration: none;
            color: $color-lgray;
        }

        &::before {
            content: 'Administrator';
            font-size: 10px;
            position: absolute;
            color: $color-dark;
            bottom: 60px;
            z-index: 1;
        }
    }

    .btn {
        width: 40%;
    }

    .adminlinks{
        display: flex;
        flex-direction: column;
        margin: 30px 0;
        a{
            margin: 5px;    
        }
    }
    .admincreators{
        font-size: 12px;
        margin: 30px auto;
        color: $color-dark;
        text-align: center;
        width: 200px;
        .icon-heart{color: $color-red;}
    }
}
.admintestimonial{
    margin: 15px 0;
    display: flex;
    background-color: $color-dark;
    &__left, &__right{
        padding: 15px;
        width: 50%;
    }
    .form-textarea{margin: 30px 0;}
}

.admincontacts{
    display: flex;
    &__left, &__right{
        padding: 15px;
    }
}

.adminabout{
    border-bottom: 1px dotted $color-dark;
    padding-bottom: 15px;
    .btn{
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
    &__waw, &__vision, &__mission, &__values{
        display: flex;
        &-right, &-left{
            width: 50%;
            margin: 15px;
            .form-input{margin: 15px 0 10px 0;}
            .form-textarea{margin: 15px 0;}
            .form-textarea:not(.val){min-height: 250px;}
            .val{min-height: 100px; padding-bottom: 5px;}
        }
    }

}
.modal{
    &__teammate{
        .file-upload{margin-bottom: 15px;}
        &-form{
            display: flex;
        }
        &-right, &-left{
         padding: 0 15px;
        }
        .btn{
            display: block;
            margin: 0 auto;
        }
    }
}

.adminservices{
    &__nav{
        display: flex;
        justify-content: center;
        padding: 0;
        &:before{
            width: 100%;
            content: '';
            height: 2px;
            position: absolute;
            margin-top: 36px;
            @include gradient();
        }
        &-link{
            font-family: Montserrat-Regular;
            font-size: 24px;
            width: 50%;
            text-transform: uppercase;
            height: 36px;
            text-align: center;
            color: $color-dark;
            @include transition();
            &.active, &:hover{
                color: $color-white;
                @include gradient();
                @include transition();
            }
        }
    }
    &__form{
        border-bottom: 1px dotted $color-dark;
        padding-bottom: 15px;
        .form-textarea textarea{margin-bottom: 0;}
        .pluses{display: flex;}
        &-right, &-left{
            padding: 0 15px;
            width: 50%;
            .item{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
                [class*="icon-"]{margin-right: 5px;}
                .form-textarea{min-height: 200px}
            }
        }
        .btn{
            display: block;
            margin: 15px auto;
        }
    }
}

.admintimetable{
   &__nav{
       display: flex;
       justify-content: center;
       padding: 0;
       &:before{
           width: 100%;
           content: '';
           height: 2px;
           position: absolute;
           margin-top: 25px;
           @include gradient();
       }
       &-link{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Montserrat-Regular;
            font-size: 18px;
            text-transform: uppercase;
            padding: 0 15px;
            color: $color-dark;
            @include transition();
            &.active, &:hover{
               color: $color-white;
               @include gradient();
               @include transition();
            }
        }
   }
   .notice{
        background-color: $color-yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 270px;
        margin: 15px 0;
        padding: 15px;
        box-shadow: 0px 0px 8px 0px $color-lgray;
        .hour{
            text-align: center;
            margin: 15px;
            font-family: Montserrat-Regular;
        }
        .form-textarea{
            min-height: 200px;
            background: $color-white;
        }
        .btn{
            display: block;
            width: fit-content;
            margin: 0 auto;
        }

   }
}

