@import "_mixins/mixins";
@import "vars";
@import "fonts";
@import "libs";
@import "components";

::placeholder {
	color: #777;
}

::selection {
	background-color: $color-accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	color: $color-dark;
	position: relative;
	line-height: 1.5;
	font-family: Montserrat-SemiBoldItalic;
	overflow-x: hidden;
}



@import "media"; // Always at the end
