@import "_mixins/mixins";
@import "vars";
@import "fonts";
@import "libs";
@import "components";

::placeholder {
	color: #777777;
}

::selection {
	background-color: $color-dark;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	color: $color-dark;
	position: relative;
	line-height: 1.5;
	font-family: Lato-Light;
	overflow-x: hidden;
}

header {
	min-height: 100vh;
	text-align: center;
	width: 100%;
	background-size: cover;

	a:hover {
		text-decoration: none;
	}

	nav {
		z-index: 999999999;
		position: fixed;
		width: 100vw;
		height: 60px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		&.transparent{background: transparent;}
		&.dark, &.active{
			background: rgba($color-dark, .8);
			@include transition();
			&:hover{
				background: $color-dark;
			}
		}
		.hamburger{
			display: none;
			outline: none
		}
		.logo{
			color: $color-white;
			font-size: 30px;
			@include transition();
			&:hover{
				opacity: .6;
				// @include text-gradient();
			}
		}
		.links {
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				margin: 4px 15px 0;
				color: $color-white;
				font-family: Montserrat-Light;
				font-size: 14px;
				&::after {
					@include transition();
					display: block;
					content: '';
					height: 5px;
					width: 5px;
					border-radius: 50%;
					background: rgba($color-white, 0);
					margin: 0 auto;
				}
				&:hover::after {
					background: $color-white
				}
			}
		}

		.social a {
			color: $color-white;
			margin: 0 5px;
			@include transition();

		}
	}

	.filter {
		width: 100%;
		height: 100vh;
		background: rgba($color-dark, .4);
		display: flex;
		align-items: center;
		.presentation {
			text-align: left;
			color: $color-white;
			font-family: Montserrat-Light;
			font-size: 32px;
			padding-left: 8%;
			padding-top: 22%;

		}
	}

}

.footer{
	&__partners{
		padding: 60px 0;
		background: $color-dark;
		&-img {
			outline: none;
			img{
				display: block;
				margin: 0 auto;
				height: 30px;
			}
		}
	}
	&__main{
		background: $color-dark;
		&-about, &-contacts, &-useful, &-fb{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			padding-bottom: 30px;
		}
		&-about{
			.p{
				display: block;
				width: 200px;
				color: $color-white;
			}
		}
		&-contacts{
			.details{
				display: flex;
				flex-direction: column;
				color: $color-white;
				font-size: 14px;
				.location, .phones, .mail{
					display: flex;
					align-items: center;
					margin: 15px 0;
					[class*="icon-"]{
						font-size: 18px;
						margin-right: 10px;
					}
					a{
						color: $color-white;
						@include transition();
						&:hover{opacity: .7;}
					}
				}
				.location{margin: 0 0 15px 0;}
			}
		}
		&-useful{
			.links{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				font-size: 14px;
				a{
					&.first{margin: 0 0 15px 0;}
					@include transition();
					margin: 15px 0;
					color: $color-white;
					&:hover{opacity: .7;}
				}
			}
		}
	}
	&__creators{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		color: $color-dark;
		padding: 15px 0;
		.icon-heart{font-size: 18px; color: $color-insta;}
		p{margin: 0; text-align: center;}
		a{
			color: $color-dark;
			&:hover{color: $color-fb;}
		}
	}
}

.team {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	background: #000;
	background-image: url(../img/team.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;

	&:hover &__contact,
	&:active &__contact {
		opacity: 1;
	}

	[class*="icon-"] {
		font-size: 26px;
		@include text-gradient();
	}

	&__setting {
		display: flex;
		justify-content: space-between;

		.btn {
			border-radius: 0;
			width: 100%;
		}
	}

	&__contact {
		height: 100%;
		width: 100%;
		@include transition();
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: rgba($color: $color-dark, $alpha: .95);
		opacity: 0;

		&-phone {
			a {
				font-family: Montserrat-Regular;
				font-size: 20px;
				color: #fff;
				display: block;
				&:hover {
					@include text-gradient();
				}
			}
		}

		&-email a {
			display: block;
			margin: 25px 0;
			font-family: Lato-Regular;
			font-size: 14px;
			color: #fff;
			&:hover {
				@include text-gradient();
			}
		}
	}

	&__info {
		@include gradient(rgba($color: $color-accent, $alpha: .95));
		width: 100%;
		padding: 30px 15px;
		color: #fff;

		&-name {
			font-size: 18px;
			font-family: Montserrat-Regular;
		}

		&-function {
			font-size: 14px;
			font-family: Lato-Regular;
		}
	}
}

@import "admin"; // Styles for admin
@import "media"; // Always at the end